@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
$header-font: 'Josefin Sans', sans-serif;
$body-font: arial, sans-serif;

$font-color: #333;
$font-alternative-color: #fff;
$accent-color-light: #F2B680;
$accent-color-medium: #D9946C;
$accent-color-dark: #A65C41;
$background-color: #F2E2CE;
$background-color-dark: #734136;