
.gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    .box {
        grid-column: span 1;
    }
}

@media (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;

        .box {
            grid-column: span 1;
        }
    }
}
