@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
$header-font: 'Josefin Sans', sans-serif;
$body-font: arial, sans-serif;

$font-color: #333;
$alt-font-color: #566975;

$muted-light: #94A8B5;
$muted-dark: #566975;
$light: #8BCAF5;
$base: #A0998F;
$base-light: #beb7ac;
$accent: #f8c680;

